//customize bootstrap variables
$primary: #F4BB44;
//import bootstrap css
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: $primary;
}

h1{
  text-align: center;
}