//customize bootstrap variables
$primary: #F4BB44;
//import bootstrap css
@import './node_modules/bootstrap/scss/bootstrap.scss';

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #333;
}
nav{
  background-color: #111;
  opacity: 0.7;
}
.welcome{
  background-image: url('/image/gym.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-70px);
  .login-outer{
    margin-top: 70px;
  }
  .promo-outer{
    margin-top: 70px;
  }
}

.prog-img{
  height: 200px;
  object-fit: cover;
}
.normal-plan{
  height: 250px;
}
.premium-plan{
  height: 300px;
}
.navbar{
  font-weight: bold;
}
.navbar-nav{
  align-items: baseline;
}
#map {
  height: 300px;
  width: 300px;
}

//Carousel
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

